/* === Main === */
body {
    background: #dddddd;
    color: white;
}

nav {
    background: #ffcc32;
}

.content {
    background-color: rgba(243,243,243,0.4);
    background: radial-gradient(rgba(243,243,243,1), transparent);
}

/* === NAVIGATION === */
.navbar-collapse {
    flex-grow: 0;
    width: 75%;
}

nav a {
    font-weight: 500;
    font-size: 1.2em;
    color: #202020;
}

nav a:hover {
    color: white;
}

.active a {
    color: white;
}

.search-bg {
    background: white;
    padding: 0.5em;
    border-radius: 10px;
}

nav form .form-control {
    border: none;
}
nav form .form-control::placeholder {
    color: #d3d3d3;
}

nav form .form-control:focus {
    border: none;
    box-shadow: none;
}

nav .btn-outline-warning {
    color: #202020;
    border: none;
}

nav .btn-outline-warning:hover {
    color: #202020;
    border: none;
    background: none;
}

.navbar-toggler {
    border: 1px solid #202020;  
}

.navbar-toggler:focus {
    outline: none; 
}

.navbar-toggler i {
    color: rgba(32, 32, 32, .9);  
}

.dropdown-menu {
    background: #ffcc32;
    border: none;
}

.dropdown-item:hover {
    background: #ffcc32; 
    color: white;
}

/* === Image Container === */

.main {
    background-color: #fff;
    color: black;
    padding: 1rem;
    padding-top: 0;
    border-radius: 10px;
}

.main:first-of-type {
    margin-top: 104px;
  }

.main span {
    background: transparent;
    border-radius: 5px;
    padding: 0.2em;
}

.div-head {
    background-color: #ededed;
    border-radius: 5px;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

.div-links {
    margin-top: 0.5em;
    
}

.animal-link,
.flickr-link {
    color: rgba(0, 0, 0, 1);
    font-size: 1.2em;
    margin-right: 1em;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 0.2em;
    
}

.animal-link:hover {
    color: rgb(112, 112, 112);
    text-decoration: none;
}

.main i {
    color: #202020;
}

.flickr-image {
    width: 100%;
    border-radius: 10px;
}

/* === Media Queries for Bootstrap === */


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .main {
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .content {
        width: 75%;
    }

    .main {
        padding: 5rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .dropdown-menu {
        border: 1px solid rgba(65, 65, 65, 0.8);
    }
    
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main {
        width: 50%;
    }
}